

p {
    margin: 1ex 1em;
    color: blueviolet;
    margin-top: 600px;
    padding: 0;
}
.header{
    boarder: 1px solid black;
    margin: 20px;
    padding: 20px;
    background-color: rgb(100, 198, 237);
}
.col-sm-2{
    margin: 20px;
    padding: 20px;
    background-color: rgb(100, 198, 237);
}
