
{% extends "base_generic.html" %}

{% load crispy_forms_tags %}

{% block content %}
<p></p>
<h1>Project  Details: {{ project.id}}</h1>

<p style="margin-left:2.5em">About the Project:</p>
<p style="margin-left:2.5em"><strong>Project ID:</strong> {{ project.id}}</p>
<p style="margin-left:2.5em"><strong>Project Name:</strong> {{ project.name }}</p>
<p style="margin-left:2.5em"><strong>Project Details:</strong> {{ project.description }}</p>

{{ form | crispy }}
<a href="{% url 'projects' %}"><button class="btn btn-success my-3">ok</button></a>
</form>

{% endblock %}