{% extends "base_generic.html" %}

{% block content %}
  <h2>Projects List
      <a href="{% url 'project-create' %}"> 
        <i data-feather="plus-circle" style="width:25px;height:25px;" ></i> <!-- <img alt="Add project" src="https://www.iconsdb.com/icons/download/color/096647/add-file-16.png">-->
      </a>
  </h2>
  {% if project_list %}
  <ul>
    {% for project in project_list %}
      <li  display:inline;>
        <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
       
        <a href="{% url 'project-update' project.id %}">
          <i data-feather="edit-3" style="width:20px" ></i> <!--<img alt="Update" src="https://www.iconsdb.com/icons/download/orange/edit-2-16.png">-->
        </a>
        <a href="{% url 'project-delete' project.id %}">
          <i data-feather="trash-2" style="width:20px" ></i><!--<img alt="Delete" src="https://www.iconsdb.com/icons/download/red/delete-16.png">-->
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no projects.</p>
  {% endif %}
{% endblock %}

