
{% extends "base_generic.html" %}

{% block content %}
<p></p>
<h1>TaskManagment Details: {{ taskmanagment.id}},{{ taskmanagment.task_managment}}</h1>

<p style="margin-left:2.5em">About the Author:</p>
<p style="margin-left:2.5em"><strong>Assignee Employee Name:</strong> {{ taskmanagment.assignee }}</p>
<p style="margin-left:2.5em"><strong>Assigneeed to Employee Name:</strong> {{ taskmanagment.assigneedTo }}</p>
<p style="margin-left:2.5em"><strong>Task Status:</strong> {{ taskmanagment.status }}</p>
<p style="margin-left:2.5em"><strong>Tasks Additional Details:</strong> {{ taskmanagment.comment }}</p>
<p style="margin-left:2.5em"><strong>Task Duration Period:</strong> {{taskmanagment.due_date}}</p>
<p style="margin-left:2.5em"><strong>Task Start Date:</strong> {{ taskmanagment.start_date }}</p>
<p style="margin-left:2.5em"><strong>End Date:</strong> {{ taskmanagment.end_date }}</p>

{% endblock %}