{% extends "base_generic.html" %}

{% block content %}
  <h1>task List
      <a href="{% url 'task-create' %}"> 
        <img alt="Add task" src="https://www.iconsdb.com/icons/download/color/096647/add-file-16.png">
      </a>
  </h1>
  {% if task_list %}
  <ul>
    {% for task in task_list %}
      <li  display:inline;>
        <a href="{{ task.get_absolute_url }}">{{ task.id }} , {{ task.project }}</a>
        <a href="{% url 'task-delete' task.id %}">
            <img alt="Delete" src="https://www.iconsdb.com/icons/download/red/delete-16.png">
        </a>
        <a href="{% url 'task-update' task.id %}">
            <img alt="Update" src="https://www.iconsdb.com/icons/download/orange/edit-2-16.png">
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no tasks.</p>
  {% endif %}
{% endblock %}

