{% extends "base_generic.html" %}

{% block content %}
  <h2>Tasks List
      <a href="{% url 'task-create' %}"> 
        <i data-feather="plus-circle" style="width:25px;height:25px;" ></i>
      </a>
  </h2>
  {% if task_list %}
  <ul>
    {% for task in task_list %}
      <li  display:inline;>
        <a href="{{ task.get_absolute_url }}"> {{ task.task_name }}</a>
        
        <a href="{% url 'task-update' task.id %}">
          <i data-feather="edit-3" style="width:20px" > </i> 
        </a>
        <a href="{% url 'task-delete' task.id %}">
          <i data-feather="trash-2" style="width:20px" ></i> 
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no tasks.</p>
  {% endif %}
{% endblock %}

