{% extends "base_generic.html" %}

{% block content %}
  <h2>Assign Task
    <a href="{% url 'taskmanagment-create' %}"> 
      <i data-feather="plus-circle" style="width:25px;height:25px;" ></i>  
      </a>
  </h2>
  {% if taskmanagment_list %}
  <ul>
    {% for taskmanagment in taskmanagment_list %}
      <li>
        <a href="{{ taskmanagment.get_absolute_url }}">
          {{ taskmanagment.id}}, {{ taskmanagment.task_managment}}</a> 
       
        

        <a href="{% url 'taskmanagment-update' taskmanagment.id %}">
          <i data-feather="edit-3" style="width:20px" ></i>
        </a>
        <a href="{% url 'taskmanagment-delete' taskmanagment.id %}">
          <i data-feather="trash-2" style="width:20px" ></i>
        </a>

      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no taskmanagment.</p>
  {% endif %}
{% endblock %}
