{% extends "base_generic.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} 
<form action="" method="post">
    {% csrf_token %}
    {{ form |crispy }}
    {{ form.media }}  {# Adds all flatpickr JS/CSS files from CDN #}
    
    <input class="btn btn-success my-3" type="submit" value="Submit">
    <a href="{% url 'taskmanagments' %}" class="btn btn-danger my-3">Cancel</a>

  </form>
{% endblock %}

