<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>KSHC Team Management</title>{% endblock %}
    {% load bootstrap4 %}
    {% load static %}
    <link rel="stylesheet" href= "{% static 'css/assets/css/bootstrap.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/assets/vendors/chartjs/Chart.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'css/assets/images/favicon.svg'%}" type= "image/x-icon">
</head>

<body>
    {% block sidebar %}
    <div id="app">
        
        <div id="sidebar" class='active'>
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <img src="{% static 'css/assets/images/KSH Good logo.jpg' %}" alt="" srcset="">
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">


                        <li class='sidebar-title'>Main Menu</li>

                        <li class="sidebar-item active ">
                            <a href="{% url 'user_list' %}" class='sidebar-link'>
                                <i data-feather="home" width="20"></i>
                                <span>Accounts</span>
                            </a>

                        </li>
                        <li class="sidebar-item  active ">
                            <a href="{% url 'employee_list' %}" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>Employees</span>
                            </a>

                        </li>

                        <li class="sidebar-item  active">
                            <a href="{% url 'projects' %}" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>Projects</span>
                            </a>

                        </li>
                        <li class="sidebar-item  active">
                            <a href="{% url 'tasks' %}" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>Tasks</span>
                            </a>

                        </li>
                        <li class="sidebar-item  active">
                            <a href="{% url 'taskmanagments' %}" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>Assign Task</span>
                            </a>

                        </li>
                        <li class="sidebar-item active">
                            <a href="{% url 'meetings' %}" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>Meetings</span>
                            </a>

                        </li>

                        <li class="sidebar-item active">
                            <a href="{% url 'reservationmeetingrooms' %}" class='sidebar-link'>
                                <i data-feather="briefcase" width="20"></i>
                                <span>ReservationMeetingRooms List</span>
                            </a>

                        </li>
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        {% endblock %}
        <div id="main">
            <nav class="navbar navbar-header navbar-expand navbar-light">
                <a class="sidebar-toggler" href=""><span class="navbar-toggler-icon"></span></a>
                <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                        <li class="dropdown nav-icon">
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link  dropdown-toggle nav-link-lg nav-link-user">
                                <div class="d-lg-inline-block">
                                    <i data-feather="bell"></i>
                                </div>
                            </a>
                            
                        </li>
                       
                        <li class="dropdown">
                            
                            <a href="#" data-bs-toggle="dropdown"
                                class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                                <div class="avatar me-1">
                                    <img src=" {% static 'css/assets/images/avatar/KSH Good logo.jpg' %}" alt="" srcset="">
                                </div>
                                
                                <div class="d-none d-md-block d-lg-inline-block"> Hi </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href=""><i data-feather="user"></i>Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}"><i data-feather="log-out"></i> Logout</a>
                              
                                <!-- <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li> -->
                                
                                
                            </div>
                            
                        </li>
                    </ul>
                </div>
            </nav>

 
            <script src="{% static 'css/assets/js/feather-icons/feather.min.js' %}"></script>
            <script src="{% static 'css/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
            <script src="{% static 'css/assets/js/app.js' %} "></script>
        
            <script src="{% static 'css/assets/vendors/chartjs/Chart.min.js' %}"></script>
            <script src="{% static 'css/assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
            <script src="{% static 'css/assets/js/pages/dashboard.js' %}"></script>
        
            <script src="{% static 'css/assets/js/main.js' %}"></script>


            
    <div class="col-sm-10 ">{% block content %}  {% endblock content%}</div>
</body>
<footer>
    <div class="footer clearfix  mb-0 text-muted">
        <div class="float-start">
        </div>
        <div class="float-end">
           
           <pre> <p>2021 &copy; KSHC</p><p>Crafted with <span class='text-danger'><i data-feather="heart"></i></span> by <a
                    href="">BD Team</a></p></pre>
        </div>
    </div>
    </footer>
</html>
