{% load i18n %}
<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>KSHC Team Management</title>{% endblock %}
    {% load bootstrap4 %}
    {% load static %}
    <link rel="stylesheet" href= "{% static 'css/assets/css/bootstrap.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/assets/vendors/chartjs/Chart.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'css/assets/images/KSH Good logo.jpg'%}" type= "image/x-icon">
</head>

<body>
   
    
    <div id="app">
       <!--Header -->
    {% include 'main.html' %}
    <!--End Header -->  
        
    <!--Boady -->
    {% include 'sidebar.html' %}
    <!--End Boady -->
       
    <!--footer -->
    {% include 'footer.html' %}
    <!--end footer-->
    
          

    
            
            <script src="{% static 'css/assets/js/feather-icons/feather.min.js' %}"></script>
            <script src="{% static 'css/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
            <script src="{% static 'css/assets/js/app.js' %} "></script>
        
            <script src="{% static 'css/assets/vendors/chartjs/Chart.min.js' %}"></script>
            <script src="{% static 'css/assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
            <script src="{% static 'css/assets/js/pages/dashboard.js' %}"></script>
        
            <script src="{% static 'css/assets/js/main.js' %}"></script>
      
    </div>
</body>


</html>


</html>
