{% load i18n %} 
{% load bootstrap4 %}
{% load static %}
{% block app %}
{% if user.is_authenticated %}

<footer style="background-color:#3b4042">
    <div class="footer clearfix mb-0 text-muted" >
        <div class="float-start">
            <p>2020 &copy; KSHC</p>
        </div>
        <dibv class="float-end">
            <a href="privacy.html">Praivacy Policy</a> |
            <a href="terms.html">Terms and Conditions</a> 
           <!-- <p>Crafted with <span class='text-danger'><i data-feather="circle"></i></span> by <a
                    href="http://KuwaiteSudaneseHoldingCompany.com">BD Team</a></p>-->
        </div>
    </div>
</footer>
{% endblock app %}