{% extends "base_generic.html" %}

{% block content %}
  <h2>Meetings List
      <a href="{% url 'meeting-create' %}"> 
        <i data-feather="plus-circle" style="width:25px;height:25px;" ></i>  
      </a>
  </h2>
  {% if meeting_list %}
  <ul>
    {% for meeting in meeting_list %}
      <li  display:inline;>
        <a href="{{ meeting.get_absolute_url }}">{{ meeting.name }}</a>
        <a href="{% url 'meeting-update' meeting.id %}">
          <i data-feather="edit-3" style="width:20px" ></i>  
        </a>
        <a href="{% url 'meeting-delete' meeting.id %}">
          <i data-feather="trash-2" style="width:20px" ></i> 
        </a>
        
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no meetings.</p>
  {% endif %}
{% endblock %}

