{% extends "base_generic.html" %}

{% block content %}
  <h2>Reservation Meeting Room
    <a href="{% url 'reserve' %}"> 
      <i data-feather="plus-circle" style="width:25px;height:25px;" ></i>  
    </a>
  </h2>
  
  {% if reservationmeetingroom_list %}
  <ul>
    {% for reservationmeetingroom in reservationmeetingroom_list %}
      <li>
        <a href="{{ reservationmeetingroom.get_absolute_url }}">{{ reservationmeetingroom.meeting_room}}</a> 
        
        <a href="{% url 'reserve-update' reservationmeetingroom.id %}"> 
          <i data-feather="edit-3" style="width:20px" ></i>
        </a>
        <a href="{% url 'reservationmeetingroom-delete' reservationmeetingroom.id %}">
          <i data-feather="trash-2" style="width:20px" ></i>  
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no tasks in the library.</p>
  {% endif %}
{% endblock %}
